#error {
    background:SlateBlue;
    width: 100%;
    height: 100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error div {
    text-align: center;
    color: white;
}

#error div a{
    color: white;
}